/* You can add global styles to this file, and also import other style files */

html, body {
     height: 100%;
    margin: 0;
    overflow: hidden;
}

    body { font-family: Roboto, "Helvetica Neue", sans-serif; 
background-color: rgba(66, 66, 66, 0.514);
}
/* .mat-figure{} */